<h2>edit exercise name</h2>

<form action="/workouts/<%=workoutId%>/exercise/<%=exerciseId%>" method="post">
    <input type="hidden" name="_method" value="put"/>
    <label for="">name</label>
    <input type="text" name="name" value="<%=exercise.name%>"/>
    <button>edit</button>
</form>