<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <section class="form_container">
        <h2>Edit password</h2>
        <form action="/users/<%=user.user_id%>/password?_method=PUT" method="post">
            <ul>
                <li>
                    <label for="">Password</label>
                    <input type="password" name="password" />
                    <span>Enter your new password</span>
                </li>
                <li>
                    <label for="">Password confirmation</label>
                    <input type="password" name="password_confirmation" />
                    <span>Re-enter your new password</span>
                </li>
                <li>
                    <button>Save</button>
                </li>
            </ul>
        </form>

</section>
</body>