<head>
    <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
    <section class="form_container">
        <h2>Edit profile photo for <%= user.username%></h2>
        <form
            action="/users/<%=user.user_id%>/photo?_method=PUT"
            method="post"
            enctype="multipart/form-data"
        >
            <ul>
                <li>
                    <img
                        class="profile_photo"
                        src="<%=user.profile_photo%>"
                        alt=""
                    />
                    <input type="file" name="uploadedFile" required />
                    <span>Update profile picture</span>
                </li>
                <li>
                    <input type="submit" value="Update" />
                </li>
            </ul>
        </form>
        <button class="back-to-edit">
            <a href="/users/<%=user.user_id%>/edit">Back</a>
        </button>
    </section>
</body>
