<head>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <section class="home">
        <div id="hero-image">
            <h3>
                Get Fit. Be a part of our
                <span>1,000,000+ </span> strong community
            </h3>
            <a href="/users/new" class="button_signup">Sign Up Now</a>
            <p class="already_member">
                <a href="/login">Already a member? <span>Log In</span></a>
            </p>
        </div>
        <div id="features">
            <ul>
                <li class="feature-1">
                    <div class="text-wrapper">
                        <h4>SHARE THE JOURNEY</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Etiam mollis turpis ac libero interdum, id
                            fringilla purus feugiat. Etiam malesuada mattis nibh
                            at bibendum.
                        </p>
                    </div>
                </li>
                <li class="feature-2">
                    <div class="text-wrapper">
                        <h4>FIND WORKOUTS EASY</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Etiam mollis turpis ac libero interdum, id
                            fringilla purus feugiat. Etiam malesuada mattis nibh
                            at bibendum.
                        </p>
                    </div>
                </li>
                <li class="feature-3">
                    <div class="text-wrapper">
                        <h4>GET STRONG TOGETHER</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Etiam mollis turpis ac libero interdum, id
                            fringilla purus feugiat. Etiam malesuada mattis nibh
                            at bibendum.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>
