<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="hero-image">
        <h3><strong>Get Fit. </strong> Be a part of our <strong>1,000,000+ strong</strong> community</h3>
        <a href="/users/new" class="button_signup">Sign Up Now</a>
        <p class="already_member"> <a href="/login">Already a member? <span>Log In</span></a>  </p>
    </div>
    <div id="features">
        <div class="wrapper">
            <ul>
                <li class="feature-1">
                    <h4>SHARE THE JOURNEY</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <li class="feature-2">
                    <h4>FIND WORKOUTS EASY</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <li class="feature-3">
                    <h4>GET STRONG TOGETHER</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>




</body>

