<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <section class="form_container">
        <h2>Sign Up</h2>
        <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        <form action="/users" method="post">
            <ul>
                <li>
                    <label for="email">Email</label>
                    <input type="text" name="email" />
                    <span>Enter your email</span>
                </li>
                <li>
                    <label for="username">Username</label>
                    <input type="text" name="username" />
                    <span>Enter your username</span>
                </li>
                <li>
                    <label for="full_name">Name</label>
                    <input type="text" name="full_name" />
                    <span>Enter your display name</span>
                </li>
                <li>
                    <label for="">Password</label>
                    <input type="password" name="password" />
                    <span>Enter your password</span>
                </li>
                <li>
                    <label for="">Password confirmation</label>
                    <input type="password" name="password_confirmation" />
                    <span>Re-enter your password</span>
                </li>
                <li>
                    <button>Signup</button>
                </li>
            </ul>
        </form>
    </section>
</body>
