<head>
    <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
    <section class="form_container">
        <h2>Add a new exercise</h2>
        <form action="/workouts/<%=workoutId%>" method="post">
            <ul>
                <li>
                    <label for="name"> Exercise Name </label>
                    <select name="name" id="name">
                        <option value="">-- Please choose an option --</option>
                        <% for (const exercise of exercises) { %>
                        <option value="<%=exercise.name%>">
                            <%=exercise.name%>
                        </option>
                        <% } %>
                    </select>
                    <span>Select exercise</span>
                </li>
                <li><input type="submit" value="Add" /></li>
            </ul>
        </form>
        <form action="/workouts/<%=workoutId%>" method="post">
            <ul>
                <li>
                    <label for=""
                        >Exercise not in list? Add exercise here:</label
                    >
                    <input type="text" name="name" />
                    <span>Add new exercise name</span>
                </li>
                <li class="add-or-edit-btn"><button>Add</button></li>
            </ul>
        </form>
    </section>
</body>
