<h2><%=exercise.name%></h2>
<h3>add set log entry</h3>
<form action="/workouts/<%=workoutId%>/exercise/<%=exerciseId%>" method="post">
    <input type="hidden" name="junction_id" value = "<%=junctionId%>"/> 
    <label for="">sets</label>
    <input type="text" name="sets">
    <label for="">reps</label>
    <input type="text" name="reps"/>
    <label for="">weight</label>
    <input type="text" name="weight"/>
    <button>add</button>
</form>