<h2>Workouts</h2>
<h3><a href="/workouts/new">Start New Workout</a></h3>
<h3>Workout Log</h3>
    <div>
        <% for (let workout of workouts) { %>
            <a href="/workouts/<%=workout.id%>">
                <div>
                    <p><%=workout.workout_date%></p>
                    <p><%=workout.title%></p>
                </div>
            </a> 
        <% } %>
    </div>  