<link rel="stylesheet" href="/css/home.css">
<h2>Workouts</h2>
<body>
    <section>
        <h3><a href="/workouts/new">Start New Workout</a></h3>
        <!-- add search function to look for old workout -->
        <h3>Find a Workout</h3> 
    </section>
    
    <section>
        <h3>Workout Log</h3>
        <div>
            <% for (let workout of workouts) { %>
                <a href="/workouts/<%=workout.workout_id%>">
                    <div>
                        <p><%=workout.workout_date%></p>
                        <p><%=workout.name%></p>
                    </div>
                </a> 
            <% } %>
        </div>  
    </section>
</body>
