.log {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.workout_entry {
    background-color: #4b2374;
    color: white;
    width: 300px;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px gray;
    align-items: center;
    margin: 5px;
}

.workout_entry:hover {
    background-color: #32174d;
    color: white;
}

.workout_details {
    margin: 0 auto 15px auto;
    padding: 0 10px;
}

.profile_photo {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#workout_name {
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#workout_date {
    font-size: 0.8em;
    padding: 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#username {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.exercise_details {
    display: flex;
    font-size: 0.5em;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 25px;
}

.exercise_details p {
    padding: 1px 3px;
}

@media screen and (max-width: 768px) {
    .log {
        width: 90%;
    }
    .workout_entry {
        width: 140px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        grid-gap: 2px;
        margin: 5px;
    }
    #workout_name {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    #workout_date {
        font-size: 0.6em;
    }
    #username {
        font-size: 0.9em;
    }
}
