* {
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    margin: 0;
    /* border: 1px solid red; */
    transition: all 0.5s ease-in-out;
}

body {
    background-color: #e2d4ea;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* nav bar */

header {
    border-bottom: 3px solid #4b0082;
    background-color: #ffffff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.title a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 60px;
    margin: 10px;
}

header h1 {
    color: #522d80;
    font-size: 3em;
    font-family: "Barlow", sans-serif;
    margin-left: 10px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    width: 50%;
    max-width: 1000px;
}

.explore,
.workouts,
.sign_in {
    font-size: 20px;
}

.explore:hover,
.workouts:hover,
.sign_in:hover {
    color: #522d80;
    text-decoration: underline;
    text-underline-offset: 5px;
}

nav li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px;
    }
    .logo {
        width: 40px;
        margin: 5px;
    }
    header h1 {
        font-size: 2em;
        margin-left: 6px;
    }
    nav ul {
        grid-gap: 5px;
        text-align: center;
        align-items: center;
        width: 70%;
    }
    .explore,
    .workouts,
    .sign_in {
        font-size: 12px;
    }

    .explore:hover,
    .workouts:hover,
    .sign_in:hover {
        text-underline-offset: 3px;
    }
}

/* logged in */
.logged_in {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.logged_in .profile {
    border: 2px solid white;
    padding: 2px;
    border-radius: 4px;
}

.logged_in .profile:hover {
    border: 2px solid #522d80;
}

.loggin_in .profile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logged_in img {
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.current_username {
    font-family: "Bebas Neue", cursive;
    color: #522d80;
}

.btns_logged_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns_logged_in button {
    padding: 1px;
    background: #989898;
    border-radius: 5px;
    color: #fff;
    width: 60px;
    font-size: 15px;
    margin: 2px auto;
}

.btns_logged_in a {
    color: #fff;
}

.btns_logged_in button:hover {
    background-color: #522d80;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .logged_in img {
        width: 30px;
    }

    .btns_logged_in button {
        width: 35px;
        font-size: 10px;
        margin: 1px auto;
    }
}

/* main  */

main {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 25px;
}

main h2 {
    margin: 0px;
    padding: 30px 0 20px 0;
    color: #4b0082;
    font-size: 3em;
}

footer {
    border-top: 1px solid #4b0082;
    background-color: #ffffff;
    padding: 15px 10px;
    font-size: 1em;
}

footer span:hover {
    color: #4b0082;
}

@media screen and (max-width: 768px) {
    main {
        width: 85%;
        padding-bottom: 15px;
    }
    main h2 {
        padding: 10px 0;
        font-size: 2em;
    }
    footer {
        padding: 10px 5px;
        font-size: 0.8em;
    }
}
