/* nav btns */
.nav {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.nav h3 a:hover {
    color: #4b2374;
}

.nav button {
    background: #989898;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 5px auto 10px auto;
    color: #fff;
    text-transform: uppercase;
}

.nav button a {
    color: #fff;
}

.nav button:hover {
    background-color: #522d80;
}

@media screen and (max-width: 768px) {
    .nav {
        padding-bottom: 10px;
    }
    .nav button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* log */

.log {
    width: 80%;
    margin: 0 auto;
}

.log h4 {
    text-transform: uppercase;
    font-size: 2rem;
}

.workout_entry {
    background-color: #32174d;
    color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px gray;
}

.workout_entry:hover {
    background-color: #4b2374;
}

#workout_name {
    font-size: 1.25em;
}

#workout_date {
    font-size: 0.6em;
}

.exercise_details ul {
    padding: 0;
}

.exercise_name {
    list-style: none;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

@media screen and (max-width: 768px) {
    .log h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    #workout_name {
        font-size: 1em;
    }

    #workout_date {
        font-size: 0.5em;
    }

    .exercise_name {
        font-size: 0.5em;
    }
}
